
*{
    font-family: "Open Sans", sans-serif;
}
header{
    background-color: #F20775;
}
.btn{
    background-color: #F20775;
    color: aliceblue;
   
}


.nav a{
    color: aliceblue;
}
.habilidades-caja{
    background-color: #e0dbdd;
}

.btn-proyectos{
    background-color:#000000;
}
.btn-proyectos a {
    text-decoration: none;
    color: #e0dbdd;
}
.card .card-title{
    color: #F20775;
}
.card-text{
    color: #F20775;
}
footer li a i{
    color: #F20775;
}
footer p{
   color: #F20775;
}
footer p a {
    text-decoration: none;
    color: #F20775;
}